$card-width: 200px;
$star-size: 16px;
$background-color: #fff;
$border-color: #f3f3f3;
$blue-color: #00acdc;
$main-color: #060b35;
$secondary-color: #616070;
$card-description-hover-color: #34568b;
$main-font: 'Roboto', sans-serif;
