$card-width: 200px;
$star-size: 16px;
$border-radius-main: 5px;
$font-size-sm: 12px;
$font-size-xs: 10px;
$line-height-md: 18px;
$spacing-xs: 4px;
$spacing-md: 16px;
$spacing-lg: 50px;
$shadow-blur: 4px;
$shadow-color: rgba(0, 0, 0, 0.05);
$transition-duration: 300ms;
$white-color: #fff;
$border-color: #f3f3f3;
$blue-color: #00acdc;
$main-color: #060b35;
$secondary-color: #616070;
$card-description-hover-color: #34568b;
$main-font: 'Roboto', sans-serif;
